@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-[#06202A] text-gray-300 overflow-x-hidden
  }
  ::-webkit-scrollbar{
    @apply w-2 md:w-3 transition duration-300
  }
  
}

body{
 /*::-webkit-scrollbar{
    @apply w-2 md:w-3 opacity-0 
  }
  ::-webkit-scrollbar-track{
    @apply bg-[#16475b] opacity-0
  }
  ::-webkit-scrollbar-thumb{
    @apply bg-[#04212d] rounded-full opacity-0
  }*/
   overflow-x:hidden;
   overflow-y:overlay;
}

::-webkit-scrollbar{
  background-color:rgba(232, 241, 255, 0.104);
}

::-webkit-scrollbar:hover{
  background-color:rgba(232, 241, 255, 0.47);
}

::-webkit-scrollbar-thumb{
  background-color: #1c546a;
}


/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/